*{
    background-image: url('d1fb032d8c674497bed108893a150adb.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}